*{
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
    //background: #000000;
}

.container{
    height: 30rem;
    max-width: 20rem;
    width: 90%;
    //background: rgb(247, 247, 247);
    padding: 1rem;
    position: relative;
    .clearOutput{
        font-family: product sans;
        float: right;
        outline: none;
        border: 0;
        background: #ff8e8e3d;
        color: #ff8e8e;
        font-family: Product Sans;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        border-radius: .6rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: .7rem;
        padding-bottom: .7rem;
        text-transform: uppercase;
    }
}
.oContainer{
    height: 4rem;
    width: 100%;
    background: #ff7a7a3d;
    color: #ff7a7a;
    font-family: Product Sans;
    text-align: end;
    border: 0;
    border-radius: .6rem;
    padding: 1rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.buttonsContainer{
    width: 100%;
    height: 80%;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: .5rem;
}
.btn{
    border: 0;
    font-family: Product Sans;
    font-size: 2rem;
    border-radius: .6rem;
}
.pelus{
    grid-row: 3/span 2;
    grid-column: 4/span 1;
}
.equal{
    grid-column: 4//span 1;
}

.red{
    background: #ff7a7a3d;
    color: #ff7a7a;
    transition-property: color, background;
    transition-duration: 200ms;
}
.red:active{
    color: #ffe1e1;
    background: #ff7a7a;
}

.blue{
    background: #00c3ff3d;
    color: #00c3ff;
    transition-property: color, background;
    transition-duration: 200ms;
}
.blue:active{
    color: #e1f3ff;
    background: #00c3ff;
}

.purple{
    background: #927aff3d;
    color: #927aff;
    transition-property: color, background;
    transition-duration: 200ms;

}
.purple:active{
    color: #e9e1ff;
    background: #927aff;
}


.green{
    background: #29dd983d;
    color: #29dd98;
    transition-property: color, background;
    transition-duration: 200ms;
}
.green:active{
    color: #e1fff3;
    background: #29dd98;
}