*{
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
    //background: #000000;
    transition: background 280ms ease;
}

.c_head{
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: .1rem solid #9c9c9c;
    z-index: 69;
    a{
        text-decoration: none;
        user-select: none;
        color: #353535;
        font-size: 2rem;
        padding-left: 1rem;
        font-family: Product Sans;

    }
    .modeClass{
        border: 0;
        width: 6rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-family: Product Sans;
        height: 100%;
        background: white;
        transition-property: color, background;
        transition-duration: 280ms;

    }
    .modeClass:active{
        background: #8d8d8d;
    }
}
.c_footer{
    position: fixed;
    bottom: 2%;
    width: 100%;
    height: 2.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    //background: #ff8e8e;
    a{
        height: 100%;
    }
    svg{
        padding-left: 1rem;
        height: 90%;
        transition: fill 280ms ease;
    }
}

.container{
    height: 30rem;
    max-width: 20rem;
    width: 90%;
    //background: rgb(247, 247, 247);
    padding: 1rem;
    position: relative;
    .clearOutput{
        font-family: product sans;
        float: right;
        outline: none;
        border: 0;
        background: #ff8e8e3d;
        color: #ff8e8e;
        font-family: Product Sans;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        border-radius: .6rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: .7rem;
        padding-bottom: .7rem;
        text-transform: uppercase;
    }
}
.oContainer{
    height: 4rem;
    width: 100%;
    background: #ff7a7a3d;
    color: #ff7a7a;
    font-family: Product Sans;
    text-align: end;
    border: 0;
    border-radius: .6rem;
    padding: 1rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.buttonsContainer{
    width: 100%;
    height: 80%;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: .5rem;
}
.btn{
    border: 0;
    font-family: Product Sans;
    font-size: 2rem;
    border-radius: .6rem;
}
.pelus{
    grid-row: 3/span 2;
    grid-column: 4/span 1;
}
.equal{
    grid-column: 4//span 1;
}

.red{
    background: #ff7a7a3d;
    color: #ff7a7a;
    transition-property: color, background;
    transition-duration: 200ms;
}
.red:active{
    color: #ffe1e1;
    background: #ff7a7a;
}

.blue{
    background: #00c3ff3d;
    color: #00c3ff;
    transition-property: color, background;
    transition-duration: 200ms;
}
.blue:active{
    color: #e1f3ff;
    background: #00c3ff;
}

.purple{
    background: #927aff3d;
    color: #927aff;
    transition-property: color, background;
    transition-duration: 200ms;

}
.purple:active{
    color: #e9e1ff;
    background: #927aff;
}


.green{
    background: #29dd983d;
    color: #29dd98;
    transition-property: color, background;
    transition-duration: 200ms;
}
.green:active{
    color: #e1fff3;
    background: #29dd98;
}